**/target
.git
.gitignore
.dockerignore
docker-compose.yml
Dockerfile.frontend
gradle
README.md
*.tar.gz
*.tgz
*.swp
*.log
*.zat
**/.gradle
**/logs
**/node_modules
**/out
**/.idea

